.owner_home_page {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
}

.owner_home_header {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px #d6def7, -3px -3px 5px #e7ebf7;
  border-radius: 10px;
}

.owner_home_header h1 {
  color: #333232;
}

.owner_home_header form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.owner_home_header form input {
  width: 100%;
  height: 40px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #333232;
}

.owner_home_header form button {
  height: 40px;
  padding: 0 30px;
  cursor: pointer;
  font-size: 17px;
  background: none;
  border: 1px solid #333232;
  border-radius: 5px;
}

.owner_worcer_informatin_container {
  width: 100%;
  padding: 2%;
  box-shadow: 3px 3px 5px #d6def7, -3px -3px 5px #e7ebf7;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
}

.worker_information_header {
  width: 100%;
  padding: 4% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #333232;
}

.worker_information_header h2 {
  color: #333232;
}

.formation_container {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
}

.information_table_list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
}

.information_name_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 3% 2%;
  background: #d6def7;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.information_table_container {
  width: 100%;
  padding: 2%;
  background: #e7ebf7;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
}

.work_information {
  display: grid;
  grid-template-columns: repeat(1, auto);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 3% 2%;
  /* gap: 20px; */
}

.work_data_container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border-bottom: 1px solid #000;
}

.work_name {
  width: 130px;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_information_ammount {
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 5px;
  padding: 10px;
}

.work_information_ammount span {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

.info_container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.info_qtn {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.info_add_name_and_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.info_name_border,
.info_time {
  font-size: 10px;
}

.work_total_data_container {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.total_time_data,
.total_prices_data,
.total_count_ammoun {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.total_prices_data,
.total_count_ammoun {
  border-bottom: 1px solid #000;
}

.total_time_data span,
.total_prices_data span,
.total_count_ammoun span {
  width: 130px;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.total_prices_data .price_list,
.total_count_ammoun .price_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.total_time_data .time_list {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.total_prices_data .price_list .price_text,
.total_count_ammoun .price_list .ammount_text {
  font-size: 12px;
  color: #333232;
}
